.nav ul {
    list-style-type: none;
    margin: 0;
    width: 210px;
    background-color: #24406d;
    font: 18px Gothic L, sans-serif;
    padding: 15px;
    padding-top: 0;
}

.nav li a {
    display: block;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}

.nav li {
    text-align: center;
    border-bottom: 1px solid white;
}

.nav li:last-child {
    border-bottom: none;
}

.nav li a.active {
    background-color: #24406d;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #24406d;
    color: white;
    text-shadow: 0px 0px 5px white;
}