body {
	background-color: #e2e2e2;
	margin: 0 !important;
    padding: 0 !important;
}

header {
	background: #e2e2e2; 
	width:80%; 
	height: 20%;
	padding: 20px;  
}

.header h1 { 
	font: 34px Gothic L, sans-serif, bold; 
	color: #252525;	
	text-align: center; 
	text-shadow: 0px 0px 5px #252525;
	margin-top: 0;
}

section { 
	background: #e2e2e2; 
	width:80%; 
	height: 100%;
	float: left; 
}

aside {
	background-color: #e2e2e2;
	width:20%; 
	height: 100%;
	float: right;
}

footer { 
	background: #e2e2e2; 
	width:80%; 
	height: 10%;
}
p { 
	font: 20px Gothic L,sans-serif, bold; 
	text-align: center; 
}

.aside h2 { 
	font: 15px Gothic L, sans-serif; 
	color: white; 
	margin-top: 0;
    margin-bottom: 0;
}

.logo{
	width:60%;
	padding: 5%;
	margin-left: 16%;
	margin-bottom: 5%;
}